extends layout
block content
    #feedback
    #calibration-buttons
        #serial-port-div
            label Serial Ports:
            select#serial_ports
                option(value="0") Please Wait...
            input#list-ports-button.btn.btn-default(type="button", value="Refresh Serial Ports")
        input#start-calibration-button.btn.btn-default(type="button", value="Start Calibration ")
        input#stop-calibration-button.btn.btn-default(type="button", value="Stop Calibration ")
        input#apply-calibration-button.btn.btn-default(type="button", value="Apply Calibration ")

    #calibration-inputs
        label Current Temperature [C]:
        input#current-temperature
        br
        label Current Humidity [%]:
        input#current-humidity

    table#calTable.table-striped(border="2")
        tr
            th Serial Number
            th Temperature [C]
            th Humidity [%]
