doctype html
html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    //link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/javascripts/serialports.js')
    script(src='/javascripts/eggformdata.js')
    script(src='/javascripts/validateData.js')
    script(src='/javascripts/calibration.js')
    script(src='/javascripts/wificonnect.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .container
      a(href="/") Config
      span &nbsp;|&nbsp;
      a(href="/calibration") Calibration
      span &nbsp;|&nbsp;
      a(href="/wificonnect") Connect
      block content